### 演習問題

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## csvデータを読み込む

In [6]:
df_shidouhou = pd.read_csv("sidouhou.csv")
df_shidouhou

    SID name sex math stat  psych_test  stat_test1  stat_test2 method
0     1   大村   男   嫌い   好き          13           6          10      C
1     2   本多   男   嫌い   好き          14          10          13      B
2     3   川崎   男   好き   好き           7           6           8      B
3     4   多村   男   好き   好き          12          10          15      A
4     5   松中   男   嫌い   嫌い          10           5           8      B
5     6  小久保   男   嫌い   嫌い           6           3           6      C
6     7   柴原   男   嫌い   嫌い           8           5           9      A
7     8   井手   男   嫌い   嫌い          15           9          10      D
8     9   田上   男   嫌い   嫌い           4           3           7      D
9    10   松田   男   好き   嫌い          14           3           3      D
10   11   高谷   女   好き   好き           9          11          18      A
11   12   杉内   女   嫌い   好き           6           6          14      A
12   13   和田   女   好き   好き          10          11          18      A
13   14   新垣   女   嫌い   嫌い          12           9          11      C
14   15   大隣   女   嫌い   好き           5           7          12      B
15   16   水田   女   好き   嫌い          12           5           5      D
16   17   斉藤   女   嫌い   嫌い           8           8           7      C
17   18   柳瀬   女   嫌い   嫌い           8           7          12      C
18   19   佐藤   女   嫌い   嫌い          12           7           7      B
19   20   馬原   女   嫌い   嫌い          15           9           7      D

## 度数分布表の作成

In [3]:
# 性別をカウントする
df_shidouhou.groupby("sex")[["SID"]].count()

     SID
sex
女     10
男     10

In [4]:
df_shidouhou.groupby("method")[["SID"]].count()

        SID
method
A         5
B         5
C         5
D         5

### [演習] 
- 指導法をカウントしてみましょう

### これ以下では、質的変数を使わないため、量的変数だけにする

In [5]:
df_shidouhou = df_shidouhou[["psych_test","stat_test1","stat_test2"]]
df_shidouhou.head()

   psych_test  stat_test1  stat_test2
0          13           6          10
1          14          10          13
2           7           6           8
3          12          10          15
4          10           5           8

## データを要約する
### 平均を求める

平均値の求め方  
  
$  \large \overline{x}=\frac{x_1+x_2+...x_n}{n} $

In [11]:
s = df_shidouhou["psych_test"].sum()#合計
s

200

In [12]:
n = len(df_shidouhou)#データ数
n

20

In [13]:
#平均
s/n

10.0

In [14]:
#dataframeの関数で平均を求める方法
df_shidouhou.mean()

psych_test    10.0
stat_test1     7.0
stat_test2    10.0
dtype: float64

### 中央値を求める

In [15]:
#データが奇数個の場合は、真ん中に位置する値
np.median([1,2,2,3,4,4,9])

3.0

In [16]:
#データが偶数個の場合は、中央の値(ここで3と4)の平均値
np.median([2,2,3,4,4,9])

3.5

In [17]:
#中央値
df_shidouhou.median()

psych_test    10.0
stat_test1     7.0
stat_test2     9.5
dtype: float64

### 最大値を求める

In [21]:
df_shidouhou.max()

psych_test    15
stat_test1    11
stat_test2    18
dtype: int64

### 最小値を求める

In [22]:
df_shidouhou.min()

psych_test    4
stat_test1    3
stat_test2    3
dtype: int64

### 最頻値を求める

In [23]:
se = df_shidouhou.groupby("psych_test")["psych_test"].count()#各値の個数を数える
se

psych_test
4     1
5     1
6     2
7     1
8     3
9     1
10    2
12    4
13    1
14    2
15    2
Name: psych_test, dtype: int64

### 基本統計量をpanadsの関数を使って一気に出す方法

In [29]:
#ここでの基本統計量
df_shidouhou.describe()

       psych_test  stat_test1  stat_test2
count   20.000000   20.000000   20.000000
mean    10.000000    7.000000   10.000000
std      3.418217    2.575185    4.116718
min      4.000000    3.000000    3.000000
25%      7.750000    5.000000    7.000000
50%     10.000000    7.000000    9.500000
75%     12.250000    9.000000   12.250000
max     15.000000   11.000000   18.000000